[user]
    name = {{GIT_USER_NAME}}
    email = {{GIT_USER_EMAIL}}
    # Uncomment and set your GPG key fingerprint to enable commit signing:
    # signingKey = YOUR_KEY_FINGERPRINT

# [commit]
#     gpgSign = true

# [tag]
#     gpgSign = true
